<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <% if (records.length) { %> <% for (record of records) { %>
    <p><%= record %></p>
    <% } %> <% } else if (singleRecord) { %>
    <p><%= singleRecord %></p>
    <% } %>

    <form action="/auth/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </body>
</html>
