<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Records</title>
  </head>
  <body>
    <h1>Records Page</h1>

    <% if (records.length) { %> <% for (record of records) { %>
    <p>ID: <%= record._id %>, Name: <%= record.name %></p>
    <% } %> <% } else if (singleRecord) { %>
    <p>ID: <%= singleRecord._id %>, Name: <%= singleRecord.name %></p>
    <% } else { %>
    <p>No record found</p>
    <% }%>

    <form action="/auth/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>

    <a href="/">Home</a>
  </body>
</html>
